.features {
    max-width: 370px;
    text-align: center;
    padding: 0px 30px;
    margin-top: 100px;

    @include breakpoint-up(medium) {
        max-width: 566px;
    }

    @include breakpoint-up(large) {
        max-width: 1250px;
    }

    h2 {
        font-size: 1.5rem;
        color: $VeryDarkBlue;
        margin-bottom: 2.1875rem;

        @include breakpoint-up(medium) {
            font-size: 1.875rem;
        }

        @include breakpoint-up(large) {
            font-size: 2.3rem;
        }

        @include breakpoint-up(xlarge) {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1rem;
        color: $GrayishBlue;
        line-height: 1.45;
        margin-bottom: 2.1875rem;

        @include breakpoint-up(large) {
            font-size: 1.125rem;
        }
    }


    &__tab-switch {
        text-align: center;
        max-width: 690px;
        width: fit-content;
        margin-left: 50%;
        transform: translateX(-50%);

        @include breakpoint-up(medium) {
            display: flex;
        }

        .t-switch {
            display: block;
            position: relative;
            width: 300px;
            cursor: pointer;
            color: rgb(97, 97, 97);
            border-bottom: 1px solid rgb(138, 138, 138);
            padding: 20px 0;
            margin: 0;

            &::after {
                content: '';
                position: absolute;
                background-color: none;
                height: 4px;
                width: 100%;
                bottom: 0px;
                left: 0px;
            }

            &:hover {

                &::after {
                    transition: all 150ms ease-in-out;
                    background-color: #F95B5A;
                }
            }

            @include breakpoint-up(medium) {
                width: 233px;
                border-top: none;
            }
            
            &:first-child {
                border-top: 1px solid rgb(138, 138, 138);

                @include breakpoint-up(medium) {
                    border-top: none;
                }
            }
        }
    }

    .tab {
        display: none;
        flex-direction: column-reverse;
        margin-top: 72px;
        margin-bottom: 100px;

        @include breakpoint-up(large){
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            max-width: 480px;

            &__button {
                background-color: royalblue;
                border: 2px solid royalblue;

                &:hover {
                    background-color: transparent;
                    color: royalblue;
                }
            }
        }

        &__image {
            position: relative;
            
            img {
                height: auto;
                width: 100%;
                margin-bottom: 84px;
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                display: block;
                bottom: 50px;
                right: 50px;
                width: 2000px;
                height: 60%;
                border-radius: 300px;
                background: #5368df;
            }
        }
    }
}