.header {
    position: relative;
    padding: 32px 0px;
    background-color: #fff;

    &.open {

        .overlay {
            display: block;
        }

        .header__toggle {

            span:first-child{
                transform: rotate(45deg);
            }

            span:nth-child(2){
                opacity: 0;
            }
    
            span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    &__logo {
        margin: 0px 0px 0px 15px;
        z-index: 2;
    }

    &__links {
        font-size: 1rem;
        //margin: 0px 15px 0px 15px;
        text-transform: uppercase;

        a {
            color: $VeryDarkBlue;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 15px;
            }
        }
    }

    &__toggle {
        margin: 0px 15px 5px 0px;
        z-index: 2;

        span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: #252424;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 100%;
        background: #373d55f5;
        z-index: 1;

        a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 0.625rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.3ch;
        }

        &__line {
            background-color: #ffffffba;
            border: none;
            height: 1px;
            width: 80%;
            margin: 1rem auto;

            &:first-child {
                margin-top: 5.5rem;
            }

        }

        &__button {
            width: 78%;

            &:hover {
                color: #fff;
                border: 2px solid #fff;
            }
        }

        &__social {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin: 0 auto;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);

            a {
                padding: 0px;

                img {
                    padding: 0px;
                    margin: 0px 14px;
                }
            }
        }
    }
}